<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetnotebook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.budgetnotebook.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.MAINMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.AccountView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.ACCOUNTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.TransactionView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.TRANSACTIONVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.ProfileView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.PROFILEVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.GoalView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.GOALVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.RecommendationView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.RECOMMENDATIONVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.GoalForm"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.GOALFORM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.AccountForm"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.ACCOUNTFORM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.TransactionForm"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.TRANSACTIONFORM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.ProfileForm"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.PROFILEFORM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.AdvancedMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.ADVANCEDMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:name="com.example.budgetnotebook.Report"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.budgetnotebook.REPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetnotebook.ExportActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.budgetnotebook.AlertActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
